html {
    color:#111;
    background:#fff;
}
body {
    font:12px Arial,Helvetica,sans-serif;
    line-height:162%;
}
div, span, p, img, ul, li, th, td, h3 select, form, input{
    margin: 0;
    padding: 0;
}
ul {
    line-height: 24px;
    font-size: 12px;
}
li {
    list-style: none;
}
a:link {
    color: #369;
    text-decoration: none;
}
.top-nav {
    clear: both;
    width: 100%;
    color: #D4D4D4;
    margin-bottom: 20px;
    height: 30px;
    border-bottom: 1px dashed #D4D4D4;
}
.top-nav li, .top-nav li a:link {
    color: #219A44;
    font-weight: 800;
}
.top-nav-item {
    font-size: 12px;
}
.top-nav-item li {
    float: left;
    display: inline;
    margin: 2px 20px 0 0;
}
.bd {
    width: 950px;
    margin: auto;
    overflow: auto;
}
.top-nav-info {
    float: right;
    margin-top: 5px
}
.top-nav-info a{
   margin-left: 10px;
}
.top-nav-info a:link {
    color: #219A44;
    text-decoration: none;
}
.footer {
    margin-top: 10px;
    width:100%;
    color:#999;
}
.copyright {
    text-align:center;
    margin:0 auto;
}
.page-index {
    font: 14px Arial,Helvetica,sans-serif;
    color: #AAA;
    margin: 20px 0;
    line-height: 150%;
    text-align: center;
}
.page-index .prev {
    margin-right: 20px;
}
.page-index .next {
    margin-left: 20px;
}
.page-index .this-page {
    color: white;
    background: #83BF73;
}
.page-index a, .this-page, .break {
    padding: 0 4px;
    margin: 2px;
}
